@tailwind base;
@tailwind components;
@tailwind utilities;

span.code {
    @apply font-mono bg-gray-200 px-0.5 text-xs;
    padding-top: 0.1rem;
    padding-left: 0.125rem;
    padding-bottom: 0.1rem;
    padding-right: 0.125rem;
}

$node_start_color: #03B54D;
$node_decision_color: #6A7FDB;
$node_notice_color: #9a969c;
$node_end_color: #DF5361;

html {
    // to prevent 'jumping' of content when overflow occurs
    overflow-y: scroll;
}

a.styled {
    @apply text-blue-600 underline;
    &:hover {
        @apply text-blue-700;
    }
}

textarea.style-soft {
    @apply block shadow-sm focus:ring-blue-500 focus:border-blue-500;
    @apply sm:text-sm border border-gray-300 rounded-md;
}

input[type="text"].style-soft {
    @apply flex-1 block w-full rounded-none rounded-md sm:text-sm border-gray-300;
    @apply focus:ring-blue-500 focus:border-blue-500;
}

.node {

    @apply block w-full h-full flex items-center pl-3 text-sm;
    @apply rounded;

    border: 1px solid rgb(177, 177, 177);
    background-color: white;
    /* border-bottom: 4px solid rgb(38, 179, 38); */
    
    span {
        @apply truncate;
    }

    &.node-start {
        border-bottom: 4px solid $node_start_color;
    }

    &.node-decision {
        border-bottom: 4px solid $node_decision_color;
    }

    &.node-notice {
        border-bottom: 4px solid $node_notice_color;
    }

    &.node-end {
        border-bottom: 4px solid $node_end_color;
    }

    &.node-has-errors:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 20px;
        top: 0px;
        right: 0;
        background-image: radial-gradient(circle at center, theme('colors.red.200') 4px, transparent 5px);
        background-size: 20px 20px;
        background-position: top center, bottom center;
        background-repeat: no-repeat;
    }

    span {
        &.node-label-variable {
            @apply font-mono;
            font-size: 0.85rem;
        }
        &.node-label-content {
            // ...
            @apply font-serif;
        }
        &.node-label-unnamed {
            font-style: italic;
            color:rgb(108, 108, 108);
        }
    }
}

.x6-cell {
    &.x6-node {
        &.x6-node-selected {
            .node-start {
                border-color: $node_start_color;
                box-shadow: 0 0 0 4px rgba($node_start_color, 0.2);
            }
        
            .node-decision {
                border-color: $node_decision_color;
                box-shadow: 0 0 0 4px rgba($node_decision_color, 0.2);
            }
        
            .node-notice {
                border-color: $node_notice_color;
                box-shadow: 0 0 0 4px rgba($node_notice_color, 0.25);
            }
        
            .node-end {
                border-color: $node_end_color;
                box-shadow: 0 0 0 4px rgba($node_end_color, 0.2);
            }
        }
    }

    &.x6-edge {
        &:hover path:nth-child(2) {

        }

        &.x6-edge-selected path {
            stroke: #1890ff;
            stroke-width: 1.5px !important;
        }
    }
}

button.btn {

    &[disabled] {
        @apply bg-gray-300 cursor-not-allowed;
    }

    @apply bg-white border border-gray-300 text-gray-800 px-3 py-1 rounded-md font-normal;

    i {
        @apply mr-2 text-lg leading-none;
    }

    &:hover {
        @apply ring-4 ring-gray-200 border-gray-400 cursor-pointer ;
    }

    &.btn-red {
        @apply bg-red-600 border-0 text-white;
        &:focus {
            @apply outline-none ring-2 ring-offset-2 ring-red-500;
        }
        &:hover {
            @apply bg-red-500;
            @apply ring-0 cursor-pointer;
        }
    }
}
